.content-add .add-select {
    display: block;
    margin-bottom: 14px;
    width: 100%;
    padding: 8px;
}

.content-add .add-input {
    display: block;
    margin-bottom: 14px;
    width: 100%;
    padding: 8px;
}
