.body {
    background: #eeeeee;
}

.login-header {
    padding: 20px;
    text-align: center;

    color: white;
    background-image: url(../../imgs/banner-1.jpg);
    background-size: 100%;

}

.sec-bar {
    padding: 10px;
    text-align: center;

    color: white;
    background: #222222;
}

.login-form {
    margin-top: 20px;
    padding: 26px 24px 46px;

    /*
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    */
}

.login-form .login-input {
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login-form i {
    padding: 11px;
    width: 5%;

    text-align: center;
}

.login-form input {
    width: 92%;
    padding: 8px;

    border: 0px solid transparent;
}

.login-form .login-submit {
    width: 100%;

    color: white;
    background: #1a8cff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.login-form .login-submit:hover {
    background: #0080ff;
    transition: background 1s;
}

.login-form .login-forget {
    text-align: center;
}

.header {
    padding: 20px;
    text-align: center;

    color: white;
    background-image: url(../../imgs/banner-1.jpg);
    background-size: 100%;

}

.pri-select {
    padding: 10px;
    text-align: center;
}

.content {
    text-align: center;
}

.content .item {
    display: inline-block;
    margin: 20px 0 30px 0;
    width: 30%;

    text-align: center;
}

.content .item .img {
    padding: 20px;

    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.content .item .desc {
    margin-top: 5px;
}

.content .item-a {
    text-decoration: none;
    color: #333333;
}

.content .item-a:hover {
    color: black;
    transition: color 1s;
}

.create-content {
    padding: 10px;
}

.create-content h4 {
    margin: 20px 10px 10px 0px;
}

.create-content input {
    padding: 5px;
    width: 100%;

    border: 0px solid transparent;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.logout {
    text-align: center;
}

.logout a {
    text-decoration: none;
}

.footer {
    color: #aaaaaa;
    text-align: center;
}

.bell {
    float: right;
    color: red;

    text-decoration: none;
    cursor: pointer;
}

.bell:hover {
    color: red;
}

.bell label {
    color: white;
}

.chevron {
    float: left;
    color: white;

    text-decoration: none;
    cursor: pointer;
}

.chevron:hover {
    color: white;
    text-decoration: none;
}
